:root {
    --charcoal: #424242;
    --shadedarker: #363636;
    --main: #ffffff;
    --dark: #202020;
}

body, html {
    height:100%;
    background-color: var(--dark);
    color:var(--main);
    
}

form {
    text-align: center;
    width: 30%;
}

label {
    color:var(--main);   
}

break {
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
}

a, a:hover {
    color: var(--main)

}

.container {
    
    margin: 50px auto;
}

.todo-container {
    background-color: var(--charcoal);
    border-radius: 10px;

    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    height: auto;
}

.title {
    font-weight: bold;
    font-size: x-large;
}

.list-container {
    background-color: var(--shadedarker);

    border-radius: 10px;
    margin: 15px 0 25px;
    padding: 5px;

    width:100%;
    min-height: 200px;
}

.list-item {
    background-color: var(--dark);
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
    overflow: hidden;
}

.input {
    background-color: var(--dark);
    color: var(--main);
    border: none;
    border-radius: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width:100%;
    padding: 10px 25px;
    background-color: var(--dark);
    word-spacing: 25px;
}